.navbar1 {
    border-radius:0 0  20px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px;
    background-color: #0C1618;
    color: #fff;
    position: absolute;
    top: 0;
   width: 97.4%;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
}

.menu {
    
    display: flex;
    gap: 1em;
    font-size: 20px;
    margin-right: 16em;
}
/* img:hover { transform:scale(1.5);}*/

.menu li:hover {
    background-color: #4c9e9e;
    transform:scale(1.5);
    border-radius: 5px;
    transition: 1s ease;
}

.menu li {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 14px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}